<h1 class="text-center">Welcome to gRabit!</h1>
 <style>

</style>

<%= image_tag "logo.png", width: 300, class: 'd-block mx-auto' %><br /></b>
<p class="text-center"><b> To begin,  Search for an item </b>
<li id="search">
    <form action="" method="get">
    <input type="text" name="search_text" id="search_text" placeholder="Search"/>
    <%=link_to "🔎"%>
    </form>
</li>
 </p>

